<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399575543433-ilegvh4j0s2pu8iaag9i3kioebimnjkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399575543433-ilegvh4j0s2pu8iaag9i3kioebimnjkv</string>
	<key>API_KEY</key>
	<string>AIzaSyDpM77vCuvDzSkSvSAG0PyvuAFEnVecYCc</string>
	<key>GCM_SENDER_ID</key>
	<string>399575543433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luismancor.Lab11-Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-71605</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-71605.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399575543433:ios:3477568d5b48e71f0de058</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-71605.firebaseio.com</string>
</dict>
</plist>